---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Hero from "~/components/Hero.astro";
import { Picture, Image } from "astro:assets";
import Badge from "~/components/Badge.astro";
import Button from "~/components/Button.astro";
import ButtonCallUs from "~/components/ButtonCallUs.astro";
import Grid from "~/components/Grid.astro";
import Heading from "~/components/Heading.astro";
import WideImage from "~/components/WideImage.astro";
import ReviewSlider from "~/components/ReviewSlider.astro";

// Images
import HelichryseHero from "~/assets/images/helichryse.png";
import RosesImage from "~/assets/images/roses.png";
---

<Layout title="Accueil" pageTitle="Accueil" description="Bienvenue !">
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<h3 class="font-black">« Les fleurs messagères pour le corps et l’esprit »</h3>
				<h6 class="font-black">FLEURS, PLANTES AROMATIQUES & MÉDICINALES EN PRODUCTION LOCALE ET DE SAISON</h6>

				<p>
					Découvrez les eaux florales et hydrolats du jardin de rose, fabriqués à partir de fleurs, plantes médicinales et aromatiques grâce à la dystillation douce de ces plantes.
					<br/><br/>
					Celles-ci sont récoltées avec soin en Sarthe et en Mayenne, en cueillette "sauvage" ou dans des fermes cultivant en agriculture biologique.
					<br/><br/>
					Appréciez leur goût, leur odeur et leur propriétés bienfaisante en les utilisant en tisane, boissons, cuisine, accompagnement cure de santé, en diffusion, soin de la peau ou encore dans l'eau du bain...
					<br/><br/>
					Belle découverte !
				</p>

				<span class="text-brand-green font-medium">Contactez-moi par mail : marionneau.claire [@] protonmail.com </span>

			</div>
			<div class="text-center" slot="hero-content-right">
				<Badge title="Hydrolats & eaux florales naturels" />
				<Picture
					class:list={"mx-auto"}
					class={"rounded-xl"}
					src={HelichryseHero}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
					loading={"eager"}
					fetchpriority={"high"}
				/>
			</div>
		</Hero>
	</Section>

	<WideImage image={RosesImage} alt="Roses" class:list={"aspect-video lg:aspect-[16/6]"} />

</Layout>
