---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Hero from "~/components/Hero.astro";
import { Picture, Image } from "astro:assets";
import Badge from "~/components/Badge.astro";
import Button from "~/components/Button.astro";
import ButtonCallUs from "~/components/ButtonCallUs.astro";
import Grid from "~/components/Grid.astro";
import Heading from "~/components/Heading.astro";
import WideImage from "~/components/WideImage.astro";
import ReviewSlider from "~/components/ReviewSlider.astro";

// Images
import HelichryseHero from "~/assets/images/helichryse.jpg";
import Pizza from "~/assets/images/pizza.png";
import Spaghetti from "~/assets/images/spaghetti.png";
import Fish from "~/assets/images/fish.png";
import DecorativeImage from "~/assets/images/rose.jpg";
import reviewAuthors from "~/assets/images/review-authors.png";
import Dessert from "~/assets/images/dessert.png";
import Mussels from "~/assets/images/mussels2.png";
---

<Layout title="Accueil" pageTitle="Accueil" description="Bienvenue !">
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<Badge title="Hydrolats & eaux florales naturels" />
				<h2 class="font-black">« Les fleurs messagères pour le corps et l’esprit »</h2>
				<h6 class="font-black">FLEURS, PLANTES AROMATIQUES & MÉDICINALES EN PRODUCTION LOCALES ET DE SAISON</h6>

				<p>
					Découvrez les eaux florales et hydrolats du jardin de rose, fabriqués à partir de fleurs, plantes médicinales et aromatiques grâce à la dystillation douce de ces plantes.
					<br/><br/>
					Celles-ci sont récoltées avec soin en Sarthe et en Mayenne, en cueillette "sauvage" ou dans des fermes cultivant en agriculture biologique.
					<br/><br/>
					Appréciez leur goût, leur odeur et leur propriétés bienfaisante en les utilisant en tisane, boissons, cuisine, accompagnement cure de santé, en diffusion, soin de la peau ou encore dans l'eau du bain...
					<br/><br/>
					Belle découverte !
				</p>

				<span class="text-brand-green font-medium">Retrouvez le catalogue ici : </span>

				<div class="mt-8 flex items-center gap-x-8">
					<Button url="/catalogue">Catalogue</Button>
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={HelichryseHero}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
					loading={"eager"}
					fetchpriority={"high"}
				/>
			</div>
		</Hero>
	</Section>

	<WideImage image={DecorativeImage} alt="Just an image" class:list={"aspect-video lg:aspect-[16/6]"} />

</Layout>
